In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
train_df = pd.read_csv(os.path.join('data','train.csv')).dropna()
train_df.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

In [3]:
test_df = pd.read_csv(os.path.join('data','test.csv')).dropna()
test_df.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name
0,0013_01,Earth,True,G/3/S,TRAPPIST-1e,27.0,False,0.0,0.0,0.0,0.0,0.0,Nelly Carsoning
1,0018_01,Earth,False,F/4/S,TRAPPIST-1e,19.0,False,0.0,9.0,0.0,2823.0,0.0,Lerome Peckers
2,0019_01,Europa,True,C/0/S,55 Cancri e,31.0,False,0.0,0.0,0.0,0.0,0.0,Sabih Unhearfus
3,0021_01,Europa,False,C/1/S,TRAPPIST-1e,38.0,False,0.0,6652.0,0.0,181.0,585.0,Meratz Caltilter
4,0023_01,Earth,False,F/5/S,TRAPPIST-1e,20.0,False,10.0,0.0,635.0,0.0,0.0,Brence Harperez

In [4]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

home_planets = train_df.HomePlanet.unique()
home_planets_encoded = LabelEncoder().fit(home_planets)

cabin = train_df.Cabin.unique()
cabin_encoded = LabelEncoder().fit(cabin)

destination = train_df.Destination.unique()
destination_encoded =  LabelEncoder().fit(destination)

train_df['CryoSleep'] = train_df.CryoSleep.apply(lambda x: 1 if x == 'True' else 0)
train_df['VIP'] = train_df.VIP.apply(lambda x: 1 if x == 'True' else 0)
train_df['HomePlanet'] = home_planets_encoded.transform(train_df['HomePlanet'])
train_df['Cabin'] = cabin_encoded.transform(train_df['Cabin'])
train_df['Destination'] = destination_encoded.transform(train_df['Destination'])

X = train_df.drop(['PassengerId','Transported','Name'], axis=1)

y = train_df.Transported.apply(lambda x: 1 if x == True else 0).values.reshape(-1,1)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

# Scikit-Learn

In [5]:
from sklearn.svm import SVC

In [6]:
clf = SVC()
clf.fit(X_train, y_train.ravel())
clf.score(X_test, y_test.ravel())

0.7954128440366972

In [7]:
# This takes a long time to accomplish


# %%time
# from sklearn.model_selection import GridSearchCV, RandomizedSearchCV
# from sklearn.pipeline import make_pipeline
# from sklearn.svm import SVC
# from sklearn.metrics import make_scorer, roc_auc_score

# clf = RandomizedSearchCV(
#     SVC(probability = True, random_state = 1),
#     param_distributions={
#         'C': np.arange(1,3,1),
#         'kernel': ['linear', 'rbf', 'sigmoid'],
#         'gamma': ['scale', 'auto']
#     },
#     cv=3,
#     scoring=make_scorer(roc_auc_score)
# )
# clf.fit(X_train, y_train.ravel())
# clf.score(X_test, y_test.ravel())

# print(clf.best_parameters_)
# print(clf.best_score_)
# clf.score(X_test, y_test)

# Tensorflow

# PyTorch